.box{
    display:flex;
    width:80%;
    justify-content: space-between;
    gap:30px;
    margin-left: 100px;
    padding-top: 100px;   
}
.cards{
    height:200%;
    width:52%;
    border:3px solid black;
    border-radius:5px;   
}
.cards img{
       width:100%;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
}
.tech{
    background-color: rgba(0, 0, 0, 0.684);
    width: 120px;
    margin-left:10px;
    padding-left: 13px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}
.cards h3{
    margin-left: 5px;
    color:rgb(66,66,66);
}
.about{
    margin-left: 5px;
    font-size:14px;
    color:rgb(106,106,106);
}
.footer{
    display:flex;
    gap: 15px;
    margin-top: 20px;
}
.footer img{
    height:20px;
    width:20px;
    border-radius: 50%;
    margin-left: 15px;
    
}

.footer p{
    margin-left: -20px;
    font-weight: 700;
font-size: 14px;
}
.footer span{
    font-size: 13px;
color:rgb(79,79,79);
}
